.card {
  background-color: beige;
  max-width: 150px;
  padding: 30px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  display: inline-block ;

}

.card img{
  width: 150px;
}

.footer {
  text-align: center;
}

.btn{
  background-color: #97d88a; /* Green */
  padding: auto;
  border-radius: 50px;
}